* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
       /* outline: 1px solid red;*/
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#home-links {
    flex: 1;
}

#contact-me {
    margin-top: auto;
}

/* font and background variables */
:root {
    --font-main: "Press Start 2P", system-ui;
    --color-main: #1f4432;
    --bg-main: #a8bfa3;
    --bg-contact: #fbf9e6;
}

/* Global text */
h1, h2, p, a {
    font-family: var(--font-main);
    color: var(--color-main);
}

/*HOME PAGE*/
#home-page-body {
    background-color: var(--bg-main);
    height: 100vh;

    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1.8fr 1.2fr;

    grid-template-areas:
        "nav nav"
        "header holder"
        "image links"
        "contact contact";
}

#preview-image {
    transition: opacity 0.25s ease;
    opacity: 1;
}

#hero-text {
    grid-area: header;
    padding-right: 1rem;
    text-align: right;
}

/* Main title */
#web-title {
    font-size: 4.9rem;
    padding-top: 3rem;
    line-height: 1;
}

/* Subtitle */
#hero-text h2 {
    font-size: 1rem;
    margin-top: 0.5rem;
}

/* HOME LINKS */
#home-image,
#home-links,
#home-links ul {
    min-height: 0;
    min-width: 0;
}

#home-links {
    grid-area: links;
    height: 100%;
}

#home-links ul {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    list-style: none;
}

#home-links li {
    list-style: none;
}

#home-links a {
    font-size: 2.3rem;
    font-weight: 600;
    text-decoration: none;
}

#home-links a:hover {
    font-size: 2.3rem;
    font-weight: 600;
    color: #3a5a40;
   /* text-decoration: underline;*/ 
}

#home-image {
    grid-area: image;
    padding: 1rem;
    display: flex;
    justify-content: right;
    width: 100%;
    height: 100%;
}

#home-image img {
    height: 100%;
    width: auto;
    object-fit: contain;
}


/* PERSISTENT NAV */
#persistent-nav {
    grid-area: nav;
    margin: 1rem;
    display: flex;
    justify-content: flex-end;
}

#persistent-nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
}

#persistent-nav a {
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}

#persistent-nav a:hover {

    color: #3a5a40;
    text-decoration: underline;
}

/* CONTACT SECTION */
#contact-me {
    grid-area: contact;
    padding-top: 1rem;
    text-align: center;
    background-color: var(--bg-contact);
}

#contact-me ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    list-style-type: none;
}

#contact-me img {
    width: 2rem;
    height: 2rem;
}

/* PARAGRAPHS */
p {
    padding: 0.5rem 0;
}