* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root {
    --font-main: "Press Start 2P", system-ui;
    --color-main: #1f4432;
    --bg-main: #a8bfa3;
    --bg-contact: #fbf9e6;
}

/* PAGE LAYOUT */
#home-page-body {
    background-color: var(--bg-main);
    min-height: 100vh;

    display: grid;
    grid-template-rows: auto auto auto 1fr auto;
    grid-template-columns: 1.8fr 1.2fr;

    grid-template-areas:
        "nav nav"
        "header holder"
        "specialities holder"
        "image links"
        "contact contact";
}

/* GLOBAL TEXT */
h1, h2, p, a {
    font-family: var(--font-main);
    color: var(--color-main);
}

#hero-text {
    grid-area: header;
    padding-right: 1rem;
    text-align: right;
}

/* Main title */
#web-title {
    font-size: 5rem;
    padding-top: 3rem;
    line-height: 1;
}

/* Subtitle */
#hero-text h2 {
    font-size: 1rem;
    margin-top: 0.5rem;
    grid-area: specialities;
}

/* HOME LINKS */
#home-links {
    grid-area: links;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-top: 1rem;

}

#home-links ul {
    display: flex;
    flex-direction: column;
    gap: 12rem;
    justify-content: center;

}

#home-links li {
    list-style: none;
}

#home-links a {
    font-size: 2.3rem;
    font-weight: 600;
    text-decoration: none;
}

#home-links a:hover {
    font-size: 2.3rem;
    font-weight: 600;
    color: #3a5a40;
   /* text-decoration: underline;*/ 
}


/* IMAGE SECTION */
#home-image {
    grid-area: image;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

#home-image img {
    width: 100%;
    height: auto;
     object-fit: contain; /* Keeps aspect ratio of image by cropping instead of squishing */
}

/* PERSISTENT NAV */
#persistent-nav {
    grid-area: nav;
    margin: 1rem;
    display: flex;
    justify-content: flex-end;
}

#persistent-nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
}

#persistent-nav a {
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}

/* CONTACT SECTION */
#contact-me {
    grid-area: contact;
    padding-top: 1rem;
    text-align: center;
    background-color: var(--bg-contact);
}

#contact-me ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    list-style-type: none;
}

#contact-me img {
    width: 2rem;
    height: 2rem;
}

/* PARAGRAPHS */
p {
    padding: 0.5rem 0;
}